<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">    
    <script src="/Chart.bundle.min.js"></script>    
</head>
<body>		
	<canvas id="myChart"></canvas>	

<script th:inline="javascript" th:if="${dataUrl}">

var ctx = document.getElementById("myChart").getContext("2d");

var data = {
  labels: ["Commit 1", "Commit 2", "Commit 3"],
  datasets: [{
    label: "CBO",
    backgroundColor: "blue",
    data: [3, 7, 9]
  }, {
    label: "WMC",
    backgroundColor: "red",
    data: [4, 6, 8]
  }, {
    label: "LCOM",
    backgroundColor: "green",
    data: [5, 15, 20]
  }]
};

var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: data,
  options: {
    barValueSpacing: 20,
    scales: {
      yAxes: [{
        ticks: {
          min: 0,
        }
      }]
    }
  }
});


/* const dataUrl = '[(${dataUrl})]';
var ctx = document.getElementById("myChart");

fetch(dataUrl)
	.then(res => res.json())
	.then(info => {
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: info.labels,
		        datasets: [{
		            label: 'notas',
		            data: info.values,		            
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        },
				plugins: {
					datalabels: {
						color: 'black',
						anchor:'end',
						align:'start',
						font: {
							size: 18
						}
					}
				}
		    }
		});		
	 });	 */
</script>
</body>
</html>