<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">    
    <script src="/Chart.bundle.min.js"></script>    
</head>
<body>		
	<section>
	<form th:action="@{/reports/search/complexity-by-class}" th:object="${searchComplexityHistoryByClassRequest}" method="get">
	
	
        <input type="hidden" th:field="*{projectId}"/>
        
        <div class="form-group">
            <label class="font-weight-bold" for="time">Classes ordered by loc metric</label>
            <select th:errorclass="is-invalid" class="form-control" name="className" th:field="*{className}" required>                
                <option th:each="klass : ${classes}" th:value="${klass}" th:text="${klass}"/>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('className')}" th:errors="*{className}"></span>            			           
        </div>        
        	
        <button class="btn btn-block btn-info">Choose</button>
	</form>	
	</section>
	<canvas id="myChart"></canvas>	

<script th:inline="javascript" th:if="${dataUrl}">

const dataUrl = '[(${dataUrl})]';
var ctx = document.getElementById("myChart");

fetch(dataUrl)
	.then(res => res.json())
	.then(info => {
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: info.labels,
		        datasets: info.datasets
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        },
				plugins: {
					datalabels: {
						color: 'black',
						anchor:'end',
						align:'start',
						font: {
							size: 18
						}
					}
				}
		    }
		});		
	 });
</script>
</body>
</html>